name: Benchmark Runner
on:
  issue_comment:
    types: [created]
  pull_request: 
    branches:
      - master

env:
  DOTNET_VERSION: 8.x.x
  
jobs:
  ensure-invoked:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Acknowledge Benchmark Request
        uses: actions/github-script@v7
        with:
          github-token: ${{ github.token }}
          script: |       
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '[Running Benchmark](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})'
            })
        
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
        
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
        
      - name: Run Benchmark
        run: cd Benchmarks/AnimalTrack.Repository.Benchmarks && dotnet run -c Release --exporters json
        
      - uses: actions/github-script@v7
        with:
          github-token: ${{ github.token }}
          script: |
            const script = require('./github/scripts/commentBenchmarkResults.js');
            script({github, context});
            